<footer class="bg-gradient-secondary text-white py-5">
    <div class="container-fluid w-50">
        <div class="row">
            <div class="col-md">
                <div class="h5 text-white">Quem somos</div>
                <ul class="list-unstyled">
                    <li class="nav-item">
                        <a class="nav-link" data-test="courses-link" href="/courses">Cursos</a>
                    </li>
                </ul>
            </div>

            <div class="col-md">
              <div class="h5 text-white">Produtos</div>
              <ul class="list-unstyled">
                  <li class="nav-item">
                      <a class="nav-link" data-test="courses-link" href="/courses">Cursos</a>
                  </li>
              </ul>
          </div>

          <div class="col-md">
            <div class="h5 text-white">Aplicativos</div>
            <ul class="list-unstyled">
                <li class="nav-item">
                    <a class="nav-link" data-test="courses-link" href="/courses">Cursos</a>
                </li>
            </ul>
        </div>

        <div class="col-md">
          <div class="h5 text-white">Ajuda e Suporte</div>
          <ul class="list-unstyled">
              <li class="nav-item">
                  <a class="nav-link" data-test="courses-link" href="/courses">Cursos</a>
              </li>
          </ul>
      </div>

      <div class="col-md">
        <div class="h5 text-white">Termos e Privacidade</div>
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link" data-test="courses-link" href="/courses">Cursos</a>
            </li>
        </ul>
    </div>

        </div>
    </div>

    <hr class="py-0 my-5" style="background-color: #000;" />

    <div class="container-fluid w-50">
        <div class="row">
            <div class="col-md-6">
              <a href="https://victormacrev.com" target="_blank" class=" text-white me-xl-5 me-3 mb-sm-0 mb-2">
                Victor Macrev
              </a>
              <a href="https://github.com/v-macrev/" target="_blank" class=" text-white me-xl-5 me-3 mb-sm-0 mb-2">
                My GitHub
              </a>
              <a href="https://linkedin.com/in/victor-macrev/" target="_blank" class=" text-white me-xl-5 me-3 mb-sm-0 mb-2">
                My LinkedIn
              </a>
            </div>
            
            <div class="col-md-6 text-md-end">
                <img class="" src="https://d35aaqx5ub95lt.cloudfront.net/images/5c2cfda26cf9f55f51622d89f44fb5ad.svg">
            </div>

            <!--<div class="col-lg-8 mx-auto text-center mb-4 mt-2">
              <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-dribbble"></span>
              </a>
              <a href="https://github.com/v-macrev/" target="_blank" class="text-secondary me-xl-4 me-4">
                <span class="text-lg fab fa-github"></span>
              </a>
            </div>-->
          </div>
          <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
              <p class="mb-0 text-white">
                &copy; e-Study - Coded by Victor Macrev.
              </p>
            </div>
          </div>
        </div>

 
  </footer>
  