    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg blur border-radius-lg top-1 top-0 z-index-3 shadow-blur z-index-sticky position-sticky mt-4 py-2 mx-4 align-items-center" id="navbarBlur" navbar-scroll="true" checked="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">

          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
             <!-- <div class="input-group">
                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                <input type="text" class="form-control" placeholder="Procurar...">
              </div>-->
            </div>

            
            <ul class="navbar-nav  justify-content-center">
              
              <!--This the menu icon for the mobile version-->
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0 " id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner ">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>

              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                </a>
              </li>
              
              <li class="nav-item pe-2 d-flex align-items-center">
                <label for="theme-switch" class="nav-link text-body p-0 m-0">
                  <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
                </label>
                <input type="checkbox" class="d-none" id="theme-switch"/>
              </li>
              
              
            </ul>

          </div>
        </div>
      </nav>
      <!-- End Navbar -->
